:root{
  --primary-color: #D7ECF5;
  --primary-font-family: 'Neuton', serif;
  --secondary-font-family: 'Lato', sans-serif;
}

html {
  margin: auto;
  min-height: 100%;
  width: 100%;
}

h1, h2, h3, h4, h5, h6{
  color: #151515;
  font-family: var(--primary-font-family);
  font-weight: bold;
}

h1{
  font-size: 70px;
}

h2{
  font-size: 60px;
}

h3{
  font-size: 40px;
}

h4{
  font-size: 25px;
}

p{
  font-family: var(--secondary-font-family);
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
} 

header{
  background: var(--primary-color);
}

header h1{
  line-height: 1.1;
  margin: 0;
}

footer {
  margin: 60px 0 20px 0;
}

footer .contact-box {
  background: var(--primary-color);
  padding: 30px 159px;
  
  border-radius: 8px;
}

footer .contact-box p {
  margin: 0;
}


footer h4 a{
  color: #151515;
  text-decoration: none;
}

footer h4 a:hover{
  text-decoration: underline;
  color: #151515;
}

footer p{
  font-size: 16px;
}

.navbar {
  /* backdrop-filter: blur(20px); */
  background-color: var(--primary-color);
  box-shadow: 10px 10px 20px rgba(107, 107, 107, 0.2);
  padding: 20px 0;
}

.navbar img{
  height: 36px;
  width: 70px;
}

.navbar-nav .nav-link {
  font-family: var(--secondary-font-family);
  color: #151515 !important;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

/* hamburger menu */
.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-dark .navbar-toggler{
  border: 2px solid black;
}

.nav-item a:hover{
  text-decoration: underline;
}

.hero{
  padding: 62px 70px;
}

.hero ul{
  padding: 0;
}

.hero li{
  font-family: var(--secondary-font-family);
  font-size: 18px;
}

.hero ul li{
  list-style-type: none;
  padding: 5px 0;
}

.hero img{
  border-radius: 8px; 
  box-shadow: #1515155a 0px 3px 8px;
}

.hero a{
  margin: 0;
}

.button-primary {
  display: inline-block;
  border-radius: 6px;
  margin-top: 10px;
  padding: 15px 15px;
  text-decoration: none;
  background: #151515;
  border: 1px solid #151515;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.515);
  color: rgb(246, 246, 246);
  font-family: var(--secondary-font-family);
  font-weight: bold;
  transition: all 0.8s ease-in-out; 
}

.button-primary:hover{
  background: rgb(246, 246, 246);
  color: #151515;
}

.button-secondary{
  display: inline-block;
  border-radius: 6px;
  margin-top: 10px;
  padding: 15px 15px;
  text-decoration: none;
  background: rgba(246, 246, 246);
  border: 1px solid #151515;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.515);
  color: #151515;
  font-family: var(--secondary-font-family);
  font-weight: bold;
  transition: all 0.8s ease-in-out; 
}

.button-secondary:hover{
  background: #151515;
  color: rgb(246, 246, 246);
}

.button-secondary:hover .github-icon {
  color: rgb(246, 246, 246)!important;
}

.icons{
  font-size: 30px;
  color: #151515;
  transition: color 0.8s ease-in-out, color 0.5s ease-in-out;
}

.icons:hover{
  color: #151515cc;
}

.skill-icons i{
  font-size: 50px;
  color: #151515;
  transition: color 0.8s ease-in-out, color 0.5s ease-in-out;
}

.skill-icons i:hover{
  color: #151515cc;
}

.skill_set{
  font-size: 60px;
}

.group-icons{
  padding-right: 70px;
}

.project-photo{
  width: 100%;
  transition: all 300ms ease-in-out;
}

.project-photo:hover{
  transform: scale(1.2);
}

.project-description{
  padding: 0 40px;
}

.project-description p{
  margin-bottom: 0;
}




.about-section{
  padding: 80px 130px;
}

.profile-img{
  border-radius: 5px;
}




@media only screen and (min-width: 768px) 
and (max-width: 991px){
  h1{
   font-size: 48px;
  }

  h2{
    font-size: 32px;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  h3{
    font-size: 24px;
  }

  p{
    font-size: 16px;
  }

  header ul{
    text-align: left;
  }

  header ul{
    text-align: left;
  }

  .button{
    display: flex;
    justify-content: left;
  }

  .hero {
    padding: 36px 20px;
  }

  .hero li{
    font-size: 16px;
  }
  
  .project-description{
    padding: 0;
  }

  .footer-background {
    text-align: center;
  }

  .skill-icons i{
    font-size: 30px;
  }
  
}

@media only screen and (max-width: 767px){
  .hero{
    padding: 40px 70px;
  }

  h1{
    text-align: center;
    font-size: 48px;
   }

  h2{
    font-size: 32px;
    margin-top: 16px;
    margin-bottom: 16px;
   }

  h3{
    font-size: 24px;
    text-align: center;
  }

  p{
    font-size: 16px;
    text-align: center;
  }

  header ul{
    text-align: center;
  }


  .button{
    display: flex;
    justify-content: center;
  }

  .skill-icons i{
    font-size: 30px;
  }

}
